[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "~=3.2"
python-dotenv = "*"
djangorestframework = "*"

[dev-packages]
flake8 = "*"
ipython = "*"

[requires]
python_full_version = "3.9.7"
